.item
{
    display: flex;
    flex-direction: column;
    padding: 20px 20px;
    height: 350px;
    background-size: cover;
    color: white;
}

.item_pricing
{
    display: flex;
    height: 50%;
}
.item_pricing > img{
    position: absolute;
    width:auto;
    z-index: 1;
}
.item_pricing > h3{
    color: #ff6969;
    z-index: 2;
    font-weight: 900;
    position: relative;
    top:0.75em;
    left:0.75em;
}

.item_infos
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    height: 50%;
}

.item_data
{
    display: flex;
    flex-direction: column;
}
.item_data > h5{
    text-transform: uppercase;
    font-size: 12px;
}
.item_data > h3{
    font-weight: 900;
    font-size: 24px;
    margin-bottom: 5px;
}
.item_data > h6 > i{
    color:gold;
    font-size: 12px;
}
.item_data > h6{
    font-size: 12px;
    margin-bottom: 5px;
}
.item_data > h4{
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 5px;
}

.item_bookbtn{
    background-color: #ff6969;
    border-radius: 5px;
    border: 2px solid pink;
    padding: 10px 20px;
    color: #fff;
    text-transform: uppercase;
    max-height: 50px;
    transition: color 0.2s, background-color 0.2s, border 0.2s;
    font-size: 14px;
}

.item_bookbtn:hover{
    cursor: pointer;
    color: #ff6969;
    background-color: #fff;
    border: 2px solid #ff6969;
}