.item
{
    display: flex;
    flex-direction: column;
    padding: 20px 20px;
    height: 350px;
    background-size: cover;
    color: white;
}

.item_pricing{
    display: flex;
    height: 50%;
}
.item_infos
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 50%;
}

.item_data
{
    display: flex;
    flex-direction: column;
}