@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");
* {
  font-family: "Oxygen", sans-serif;
}

ul {
  list-style-type: none !important;
}

body {
  color: #8a8a8a;
}

body div {
  display: -ms-grid;
  display: grid;
}

body p {
  display: inline;
}
