$white: #fff
$grey-fff: #f5f6f7
$grey-f6: #f6f6f6
$grey-d: #dddddd
$grey-b: #bbbbbb
$grey-a: #aaaaaa
$grey-9a: #9a9a9a
$grey-8a: #8a8a8a
$grey-6: #666666
$dark-2: #222222
$dark-01: rgba(0, 0, 0, 1)
$dark-0: #000
$pinky: #ff6969
$jellow: #ffcb3e

$font-stack: neuzeit-grotesk, sans-serif

*
  font-family: $font-stack
  box-sizing: border-box

h1, h2, h3, h4, h5, h6
  margin: 0

h1
  font-weight: 700
  font-size: 45px

ul
  list-style-type: none
  margin: 0 
  padding: 0

%button-dark
  background-color: $dark-0
  opacity: 0.4
  border-radius: 2px
  padding: 15px

  &:hover
    cursor: pointer

/* Menu */

header
  background-color: $grey-6
  color: $white
  font-size: 14px

  .heading
    width: 90%
    margin: auto
    padding: 2rem 0 2rem 0
    align-items: center

    div
      margin:auto

      img
        cursor: pointer

    nav
      font-weight: 700
      width: 60%

      ul
        li+li
          margin-left: 10px

        li
          display: inline
          cursor: pointer

    .options
      font-size: 14px      

      ul
        li+li
          margin-left: 10px  

        li
          display: inline
          cursor: pointer

        li:last-child
          @extend %button-dark

  .text-pinky
    color: $pinky

/* Body Section */

body

  section
    padding: 50px 15% 50px 15%
    display: flex

    .half
      width: 50%
      position: relative
   
  .search_video, .newsletter
    background-color: $grey-6

  .mec, .gdi
    background-color: $white

  .testimonials, .about
    background-color: $grey-f6

  .search_video
    .half
      img
        position: absolute
        top: 0
        left: -20px
        
      h1, span
        color: $white
      h1
        max-width: 400px
      
      .button
        @extend %button-dark

/* Footer */

footer
  