@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap')

$font-stack:    'Oxygen', sans-serif
$primary-color: #333

*
  font-family: $font-stack

body 
  color: $primary-color

  div
    display: grid
  p
    display: inline