@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");
* {
  font-family: "Oxygen", sans-serif;
}

ul {
  list-style-type: none;
  margin-bottom: 0;
}

header {
  background-color: #aaaaaa;
  color: #fff;
  font-size: 9px;
}

header nav {
  font-weight: 700;
}

header .options {
  font-size: 8px;
}

header .options:last-child {
  font-size: 9px;
  font-weight: 700;
}
