* {
  font-family: neuzeit-grotesk, sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h1 {
  font-weight: 700;
  font-size: 45px;
}

h2 {
  font-weight: 700;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

header .heading .options ul li:last-child, .search_video .half:first-child .button-dark {
  background-color: #000;
  opacity: 0.7;
  border-radius: 2px;
  padding: 10px;
}

header .heading .options ul li:hover:last-child, .search_video .half:first-child .button-dark:hover {
  cursor: pointer;
}

.about .half:first-child .button-pinky, .tab-container .tab-section .tab-item .tab-item-content .button-pinky, .newsletter .full div span {
  background-color: #ff6969;
  border-radius: 5px;
  border: 2px solid pink;
  padding: 10px 20px;
  color: #fff;
  text-transform: uppercase;
  max-height: 50px;
  -webkit-transition: color 0.2s, background-color 0.2s, border 0.2s;
  transition: color 0.2s, background-color 0.2s, border 0.2s;
  font-size: 14px;
}

.about .half:first-child .button-pinky:hover, .tab-container .tab-section .tab-item .tab-item-content .button-pinky:hover, .newsletter .full div span:hover {
  cursor: pointer;
  color: #ff6969;
  background-color: #fff;
  border: 2px solid #ff6969;
}

.mec .button-pinky_outline, .button-pinky-outline {
  background-color: #fff;
  border: 2px solid #ff6969;
  border-radius: 5px;
  padding: 10px 20px;
  color: #ff6969;
  text-transform: uppercase;
  max-height: 50px;
  -webkit-transition: color 0.2s, background-color 0.2s;
  transition: color 0.2s, background-color 0.2s;
  font-size: 14px;
}

.mec .button-pinky_outline:hover, .button-pinky-outline:hover {
  cursor: pointer;
  color: #fff;
  background-color: #ff6969;
}

/* Menu */
.pre-loader {
  position: absolute;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #ff6969;
  z-index: 999;
  color: #fff;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pre-loader .pre-load-container {
  margin-top: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.pre-loader .pre-load-container i {
  margin: 30px auto;
}

header {
  background-color: #666666;
  color: #fff;
  font-size: 14px;
  background: url("https://images.unsplash.com/photo-1493515322954-4fa727e97985?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
  background-size: cover;
}

header .heading {
  width: 90%;
  margin: auto;
  padding: 2rem 0 2rem 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .heading div img {
  cursor: pointer;
}

header .heading nav {
  font-weight: 700;
  width: 60%;
}

header .heading nav ul li + li {
  margin-left: 10px;
}

header .heading nav ul li {
  display: inline;
  cursor: pointer;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

header .heading nav ul li:hover {
  color: #ff6969;
}

header .heading .options {
  font-size: 14px;
}

header .heading .options ul li + li {
  margin-left: 10px;
}

header .heading .options ul li {
  display: inline;
  cursor: pointer;
}

header .text-pinky {
  color: #ff6969;
}

/* Body Section */
body {
  overflow: hidden;
}

body section {
  padding: 50px 15% 50px 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body section .half {
  width: 45%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body section .full {
  width: 100%;
}

.search_video, .newsletter {
  background-color: #666666;
}

.mec, .gdi {
  background-color: #fff;
}

.testimonials, .about {
  background-color: #f6f6f6;
}

/* Search Video */
.search_video {
  background-color: rgba(0, 0, 0, 0);
}

.search_video .half:first-child {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.search_video .half:first-child img {
  position: absolute;
  top: -10px;
  left: -20px;
  z-index: 1;
}

.search_video .half:first-child h1, .search_video .half:first-child span {
  color: #fff;
  position: relative;
  z-index: 2;
}

.search_video .half:first-child h1 {
  max-width: 400px;
}

.search_video .half:first-child .button-dark {
  margin-top: 10px;
  width: auto;
  margin-right: auto;
}

.search_video .half:first-child .input-group {
  margin-top: 25px;
}

.search_video .half:first-child .input-group i {
  position: absolute;
  z-index: 4;
  right: 20px;
  top: 12px;
  color: #666666;
}

.search_video .half:last-child {
  margin-left: 10%;
}

.search_video .half:last-child div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  right: 0;
  top: 0;
}

.search_video .half:last-child div i {
  color: #ff6969;
  height: 50px;
  width: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  border-radius: 50px;
  margin-bottom: 10px;
  cursor: pointer;
  -webkit-transition: color 0.2s, background-color 0.2s;
  transition: color 0.2s, background-color 0.2s;
}

.search_video .half:last-child div i:hover {
  color: #fff;
  background-color: #ff6969;
}

.search_video .half:last-child div span {
  text-transform: uppercase;
  color: #fff;
}

/* About */
.about .half:first-child {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about .half:first-child h2 {
  margin-bottom: 35px;
}

.about .half:first-child h2 a {
  color: #ff6969;
}

.about .half:first-child span + span {
  margin-top: 25px;
}

.about .half:first-child .button-pinky {
  margin-top: 35px;
  width: auto;
  margin-right: auto;
}

.about .half:last-child {
  margin-left: 10%;
}

.about .half:last-child div {
  width: 49%;
}

.about .half:last-child div span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #666666;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about .half:last-child div span:first-child {
  width: 100%;
  height: 250px;
}

.about .half:last-child div span:last-child {
  width: 75%;
  height: 170px;
}

.about .half:last-child div span + span {
  margin-top: 5px;
}

.about .half:last-child div:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about .half:last-child div + div {
  margin-left: 2%;
}

.about .half:last-child .left-section span {
  background-size: contain;
}

/* Money Explore Carousel */
.mec {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mec .full + .full {
  margin-top: 50px;
}

.mec .full:first-child h2, .mec .full:nth-child(2) h2 {
  text-align: center;
}

.mec .full h2 {
  margin-bottom: 50px;
}

.mec .money {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mec .money .money_item {
  width: 23%;
  text-align: center;
}

.mec .money .money_item h5 {
  font-weight: 900;
  margin: 30px 0;
}

.mec .explore {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
}

.mec .explore .explore_item {
  width: 23%;
  text-align: left;
}

.mec .explore .explore_item:hover {
  cursor: pointer;
}

.mec .explore .explore_item h5 {
  font-weight: 700;
  margin-top: 15px;
}

.mec .explore .explore_item h6 {
  font-weight: 700;
  color: #9a9a9a;
  margin: 10px 0 15px 0;
  text-transform: uppercase;
}

.mec .explore .explore_item span:first-child {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
  height: 300px;
  background-color: #222222;
}

.mec .explore .explore_item span {
  color: #8a8a8a;
}

.mec .button-pinky_outline {
  margin-top: 35px;
  width: auto;
  margin: auto;
  margin-bottom: 50px;
}

/* Testimonials */
.testimonials {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.testimonials div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.testimonials div .half {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
}

.testimonials div .half i {
  color: #9a9a9a;
}

.testimonials div .half span {
  margin: 20px 0;
}

.testimonials div .half .testimonials_persona {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
}

.testimonials div .half .testimonials_persona img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  border-radius: 50%;
}

.testimonials div .half .testimonials_persona .persona_infos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.testimonials div .half .testimonials_persona .persona_infos h6:first-child {
  font-weight: 700;
}

.testimonials div .half .testimonials_persona .persona_infos h6 + h6 {
  color: #aaaaaa;
}

.testimonials .full {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
  background-color: #fff;
}

/* Gallery Deals Travel */
.gdi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.gdi h2, .gdi h6 {
  text-align: center;
}

.gdi h6 {
  color: #aaaaaa;
  margin-top: 10px;
}

.gdi .gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 400px;
  margin: 50px 0;
  text-align: center;
}

.gdi .gallery span {
  color: #fff;
  font-weight: 700;
  font-size: 30px;
  text-shadow: 1px 2px 2px #000;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.gdi .gallery span:hover {
  cursor: pointer;
}

.gdi .gallery span h5, .gdi .gallery span h6 {
  margin: 0;
}

.gdi .gallery span h6 {
  color: #fff;
  margin-bottom: 5px;
}

.gdi .gallery span h5 {
  text-transform: uppercase;
  text-shadow: none;
  font-size: 14px;
  font-weight: 700;
  color: #000;
  background-color: #fff;
  border-radius: 5px;
  padding: 10px 20px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.gdi .gallery span h5:hover {
  cursor: pointer;
  background-color: #8a8a8a;
}

.gdi .gallery .gallery-half {
  width: 48%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.gdi .gallery .gallery-half span {
  width: 100%;
  height: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  background-size: cover !important;
  background-position: center center;
}

.gdi .gallery .gallery-quarter {
  width: 23%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.gdi .gallery .gallery-quarter span {
  width: 100%;
  background-size: cover;
  background-position: center center;
}

.gdi .gallery .gallery-quarter span {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: cover !important;
  background-position: center center;
}

.gdi .gallery .gallery-quarter:nth-child(even) span:first-child {
  height: 32%;
  margin-bottom: auto;
}

.gdi .gallery .gallery-quarter:nth-child(even) span:last-child {
  height: 64%;
}

.gdi .gallery .gallery-quarter:nth-child(odd) span:first-child {
  height: 64%;
  margin-bottom: auto;
}

.gdi .gallery .gallery-quarter:nth-child(odd) span:last-child {
  height: 32%;
}

.deals {
  margin-bottom: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.deals .headbtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.deals .headbtn h2 {
  text-align: left;
}

.deals .headbtn span {
  color: #8a8a8a;
}

.tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #8a8a8a;
  margin-bottom: 25px;
}

.tab .tabactive {
  color: #ff6969 !important;
  border-bottom: 4px solid #ff6969;
}

.tab .tabindex {
  width: 20%;
  padding-bottom: 10px;
  color: #8a8a8a;
  text-transform: uppercase;
  -webkit-transition: color 0.2s, border-bottom 0.2s;
  transition: color 0.2s, border-bottom 0.2s;
}

.tab .tabindex:hover {
  cursor: pointer;
  color: #ff6969;
}

.tab-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tab-container .tab-hidden {
  display: none !important;
}

.tab-container .tab-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.tab-container .tab-section .tab-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 48%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
}

.tab-container .tab-section .tab-item .tab-img {
  border-radius: 5px;
  width: 33%;
}

.tab-container .tab-section .tab-item .tab-img span {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-size: cover !important;
  background-position: center center;
  width: 100%;
  height: 100%;
}

.tab-container .tab-section .tab-item .tab-item-content {
  width: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.tab-container .tab-section .tab-item .tab-item-content span {
  margin: 15px 0 25px 0;
}

.tab-container .tab-section .tab-item .tab-item-content .button-pinky {
  margin: 0 auto 0 0;
}

.inspire .headbtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 25px;
}

.writtings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 25px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.writtings div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 30%;
}

.writtings div .read-more {
  font-size: 14px;
  color: #ff6969;
}

.writtings div .read-more:hover {
  cursor: pointer;
}

.writtings div h6 {
  color: #8a8a8a;
  text-align: left;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
}

.writtings div span:first-child {
  height: 200px;
  width: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-size: cover !important;
  background-position: center center;
  margin-bottom: 10px;
}

.writtings div span, .writtings div span:nth-child(2) {
  margin-top: 15px;
  color: #8a8a8a;
}

/* Newsletter */
.newsletter .full {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.newsletter .full h2, .newsletter .full span {
  text-align: center;
  color: #fff;
}

.newsletter .full div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  margin: 20px auto;
}

.newsletter .full div input, .newsletter .full div span {
  height: 50px;
  border-radius: 0;
}

.newsletter .full div input {
  width: 75%;
}

.newsletter .full div span {
  width: 25%;
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* Extra */
.gallery-hidden {
  display: none;
}

.back-cover {
  background-size: cover !important;
}

/* Footer */
footer section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer section .footer-menu {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
}

footer section .footer-menu div {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer section .footer-menu div h5 {
  margin-bottom: 20px;
  font-weight: 700;
}

footer section .footer-menu div span {
  color: #8a8a8a;
  margin: 10px 0;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

footer section .footer-menu div span:hover {
  cursor: pointer;
  color: #ff6969;
}

footer section .footer-menu div i {
  color: #000;
}

footer section .full {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #8a8a8a;
  font-size: 14px;
}

footer section .full .lovicon {
  color: #ff6969;
}

footer section .full nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

footer section .full nav span {
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

footer section .full nav span:hover {
  cursor: pointer;
  color: #ff6969;
}

footer section .full nav span + span {
  margin-left: 15px;
}

/* Media Queries Carousel */
@media (max-width: 1200px) {
  .item {
    width: 700px !important;
  }
}

@media (max-width: 800px) {
  .item {
    width: 500px !important;
  }
}

@media (max-width: 700px) {
  .item {
    width: 450px !important;
  }
}

@media (max-width: 600px) {
  .item {
    width: 400px !important;
  }
}

@media (max-width: 599px) {
  .item {
    width: 300px !important;
  }
}

/* Media Queries Global */
@media (max-width: 840px) {
  .containeur {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  section {
    padding: 50px 5% 50px 5%;
  }
  .half {
    width: 100% !important;
    margin: 0 0 20px 0 !important;
  }
  .menu {
    display: none;
  }
  .button-pinky-outline {
    text-align: center !important;
  }
  .trustpilot-review {
    max-width: 250px;
  }
  .form-input {
    width: 100% !important;
  }
  .money {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .money .money_item {
    width: 100% !important;
  }
  .money .money_item + .money_item {
    margin-top: 25px;
  }
  .explore {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .explore .explore_item {
    width: 100% !important;
  }
  .explore .explore_item + .explore_item {
    margin-top: 20px;
  }
  .search_video .half:last-child {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .search_video .half:last-child div {
    position: relative !important;
  }
  .testi-cont {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .testi-cont .half {
    width: 100% !important;
    margin-bottom: 20px !important;
  }
  .tabindex {
    width: 33% !important;
  }
  .tab-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .tab-section .tab-item {
    width: 100% !important;
    margin-bottom: 20px;
  }
  .writtings {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .writtings div {
    width: 100% !important;
    margin-bottom: 20px !important;
  }
  .inspire, .deals {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  .headbtn {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  .headbtn h2, .headbtn span {
    text-align: center !important;
    margin-bottom: 10px;
  }
  .headbtn .button-pinky-outline {
    text-align: center;
    margin-top: auto;
  }
  .newsletter .full {
    text-align: center;
  }
  .newsletter .full .div {
    width: 100% !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .newsletter .full .div input, .newsletter .full .div span {
    width: 100% !important;
  }
  .footer-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-menu div {
    text-align: center;
    margin-bottom: 15px;
    width: 100% !important;
  }
  footer section {
    text-align: center !important;
  }
  footer section .full {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer section .full span {
    margin-bottom: 15px;
  }
}
/*# sourceMappingURL=rave.css.map */