$white: #fff
$grey-fff: #f5f6f7
$grey-f6: #f6f6f6
$grey-d: #dddddd
$grey-b: #bbbbbb
$grey-a: #aaaaaa
$grey-9a: #9a9a9a
$grey-8a: #8a8a8a
$grey-6: #666666
$dark-2: #222222
$dark-01: rgba(0, 0, 0, 1)
$dark-0: #000
$pinky: #ff6969
$jellow: #ffcb3e

ul
  list-style-type: none
  margin: 0 
  padding: 0

/* Menu */

header
  background-color: $grey-6
  color: $white
  font-size: 14px

  .heading
    width: 90%
    margin: auto
    padding: 2rem 0 2rem 0
    align-items: center

    div
      margin:auto

    nav
      font-weight: 700
      width: 60%

      ul
        li
          display: inline

        *:not:first-child
          padding-left: 10px

    .options
      font-size: 12px

      ul
        not:last-child
          margin-right: 10px

        li
          display: inline

      :last-child
        font-size: 14px
        font-weight: 700

  .text-pinky
    color: $pinky

/* Body Section */

body

  .containeur
    padding: 50px 15% 50px 15%
   
  .search_video, .newsletter
    background-color: $grey-6

  .mec, .gdi
    background-color: $white

  .testimonials, .about
    background-color: $grey-f6